[submodule "src/lib/libsdl"]
	path = src/lib/libsdl
	url = https://github.com/spurious/SDL-mirror
[submodule "src/lib/Lua/Lua"]
	path = src/lib/Lua/Lua
	url = https://github.com/twostars/Lua
[submodule "src/lib/ffmpeg"]
	path = src/lib/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "src/lib/libpcre"]
	path = src/lib/libpcre
	url = https://github.com/twostars/libpcre
[submodule "src/lib/libpng"]
	path = src/lib/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "src/lib/projectM"]
	path = src/lib/projectM
	url = http://git.code.sf.net/p/projectm/code
[submodule "src/lib/sqlite"]
	path = src/lib/sqlite
	url = http://repo.or.cz/r/sqlite.git
[submodule "src/lib/simpleini"]
	path = src/lib/simpleini
	url = https://github.com/brofield/simpleini
[submodule "src/lib/simpleopt"]
	path = src/lib/simpleopt
	url = https://github.com/twostars/simpleopt
[submodule "src/lib/ImprovedEnum"]
	path = src/lib/ImprovedEnum
	url = https://github.com/twostars/ImprovedEnum
[submodule "src/lib/SDL_image"]
	path = src/lib/SDL_image
	url = https://github.com/twostars/SDL_image
[submodule "src/lib/zlib"]
	path = src/lib/zlib
	url = https://github.com/twostars/zlib
[submodule "src/lib/libjpeg/src"]
	path = src/lib/libjpeg/src
	url = https://github.com/twostars/libjpeg
[submodule "src/lib/libsamplerate"]
	path = src/lib/libsamplerate
	url = https://github.com/twostars/libsamplerate
[submodule "src/lib/portaudio"]
	path = src/lib/portaudio
	url = https://github.com/twostars/portaudio
[submodule "src/lib/SDL_ttf"]
	path = src/lib/SDL_ttf
	url = https://github.com/twostars/SDL_ttf
